.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
}
.MinistriesSideMenu {
	padding-top: 50px;
	width: 15%;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #e3e3e1;
}

.ministriesSideMenuItems {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.ministriesSideMenuItem {
	margin-left: 10%;
	margin-bottom: 20px;
	width: 80%;
	box-sizing: border-box;
	background-color: inherit;
	padding: 10px 10px 10px 0px;
	border: none;
	font-size: 20px;
	border-bottom: 1px solid black;
	text-align: 1;
}
.ministriesSideMenuItem:hover {
	animation: myAnim 2s ease 0s 1 normal forwards;
	font-weight: 500;
	cursor: pointer;
	background-color: #e8e8e8;
	border-radius: 10px;
}
.ministryContentContainer {
	padding: 42px 200px 100px 70px;

	width: 85%;
	min-height: 100vh;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: 500;
}
.ministryContentBoxHeader {
	width: 100%;
	width: fit-content;
	height: 70px;
	padding: 15px 0 10px 0;
	font-size: 30px;

	color: rgb(0, 0, 0, 0.9);
}
.ministryHeaderIcon {
	font-size: 22px;
	margin-right: 10px;
	color: rgb(63, 61, 61, 0.5);
}
.meetingsContentArrIcon {
	font-size: 20px;
	margin-right: 10px;
	color: rgb(63, 61, 61, 0.5);
}
.ministryContentBoxContent {
	width: 80%;
	padding: 0 5px 10px 50px;
	font-size: 20px;
	color: rgb(0, 0, 0, 0.8);
}
.ministryContentArrContent {
	width: 80%;
	height: fit-content;
	padding: 0 0 3px 8px;
	font-size: 20px;
	color: rgb(0, 0, 0, 0.8);
}
.meetingscontentArr {
	padding: 0 5px 10px 40px;
	font-size: 20px;
}

.meetingscontentArr {
	font-size: 25px;
	margin-right: 10px;
	color: rgb(0, 0, 0, 0.9);
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/* !================================================ */

@media screen and (max-width: 1350px) and (min-width: 1200px) {
	.MinistriesSideMenu {
		width: 20%;
	}

	.ministriesSideMenuItem {
		padding: 10px 10px 10px 0px;
		font-size: 1.1em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 200px 100px 70px;
		width: 79%;
	}
	.ministryContentBoxHeader {
		width: 100%;
		width: fit-content;
		height: 70px;
		padding: 15px 0 10px 0;
		font-size: 1.2em;
	}
	.ministryHeaderIcon {
		font-size: 0.76em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 1.1em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 100%;
		padding: 0 5px 10px 50px;
		font-size: 0.67em;
	}
	.ministryContentArrContent {
		width: 80%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 20px;
		font-size: 0.65em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 40px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 1200px) and (min-width: 1100px) {
	.MinistriesSideMenu {
		width: 20%;
		/* background-color: aquamarine; */
	}

	.ministriesSideMenuItem {
		padding: 10px 10px 10px 0px;
		font-size: 1.08em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 200px 100px 70px;
		width: 79%;
	}
	.ministryContentBoxHeader {
		width: 100%;
		width: fit-content;
		height: 70px;
		padding: 15px 0 10px 0;
		font-size: 1.08em;
	}
	.ministryHeaderIcon {
		font-size: 0.74em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 1.07em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 100%;
		padding: 0 5px 10px 50px;
		font-size: 0.63em;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 20px;
		font-size: 0.63em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 40px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 1099px) and (min-width: 992px) {
	.MinistriesSideMenu {
		width: 20%;
	}

	.ministriesSideMenuItem {
		padding: 10px 10px 10px 0px;
		font-size: 0.96em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 200px 100px 70px;
		width: 79%;
	}
	.ministryContentBoxHeader {
		width: 100%;
		width: fit-content;
		height: 70px;
		padding: 15px 0 10px 0;
		font-size: 0.95em;
	}
	.ministryHeaderIcon {
		font-size: 0.72em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 1.02em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 100%;
		padding: 0 5px 10px 50px;
		font-size: 0.63em;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 20px;
		font-size: 0.6em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 30px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 991px) and (min-width: 858px) {
	.MinistriesSideMenu {
		width: 25%;
	}

	.ministriesSideMenuItem {
		padding: 10px 10px 10px 0px;
		font-size: 0.93em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 200px 100px 50px;
		width: 75%;
	}
	.ministryContentBoxHeader {
		width: 100%;
		width: fit-content;
		height: 70px;
		padding: 15px 0 10px 0;
		font-size: 0.82em;
	}
	.ministryHeaderIcon {
		font-size: 0.7em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 1em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 130%;
		padding: 0 5px 10px 50px;
		font-size: 0.62em;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 0.57em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 20px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 857px) and (min-width: 680px) {
	.MinistriesSideMenu {
		width: 25%;
	}

	.ministriesSideMenuItem {
		padding: 10px 10px 10px 0px;
		font-size: 0.82em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 200px 100px 40px;
		width: 75%;
	}
	.ministryContentBoxHeader {
		width: 100%;
		width: fit-content;
		height: 60px;
		padding: 15px 0 10px 0;
		font-size: 0.8em;
	}
	.ministryHeaderIcon {
		font-size: 0.7em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 0.9em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 150%;
		padding: 0 5px 10px 40px;
		font-size: 0.6em;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 0.51em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 0px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 679px) and (min-width: 600px) {
	.MinistriesSideMenu {
		width: 25%;
	}

	.ministriesSideMenuItem {
		padding: 10px 10px 10px 0px;
		font-size: 0.69em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 200px 100px 30px;
		width: 75%;
	}
	.ministryContentBoxHeader {
		width: 130%;
		height: 55px;
		padding: 15px 0 10px 0;
		font-size: 0.8em;
	}
	.ministryHeaderIcon {
		font-size: 0.8em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 0.9em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 190%;
		padding: 0 5px 10px 40px;
		font-size: 0.6em;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 0.51em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 0px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 599px) and (min-width: 400px) {
	.container {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	.MinistriesSideMenu {
		background-color: inherit;
		padding-top: 0;
		width: 100%;
		min-height: 30vh;
		max-height: 50vh;
	}

	.ministriesSideMenuItem {
		padding: 13px 10px 10px 0px;
		font-size: 0.9em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 0 100px 0;
		width: 85%;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.ministryContentBoxHeader {
		width: 100%;
		height: 50px;
		padding: 10px 0 5px 0;
		font-size: 0.7em;
		text-align: center;
	}
	.ministryHeaderIcon {
		font-size: 0.8em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 0.9em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 100%;
		padding: 20px;
		font-size: 0.5em;
		text-align: center;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 0.51em;
		white-space: nowrap;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 0px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}

/* !================================================ */

@media screen and (max-width: 399px) and (min-width: 144px) {
	.container {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	.MinistriesSideMenu {
		background-color: inherit;
		padding-top: 0;
		width: 100%;
		min-height: 30vh;
		max-height: 50vh;
	}

	.ministriesSideMenuItem {
		padding: 13px 10px 10px 0px;
		font-size: 0.5em;
	}
	.ministriesSideMenuItem:hover {
		font-weight: 500;
		border-radius: 10px;
	}
	.ministryContentContainer {
		padding: 42px 0 100px 0;
		width: 85%;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.ministryContentBoxHeader {
		width: 100%;
		height: 50px;
		padding: 10px 0 5px 0;
		font-size: 0.7em;
		text-align: center;
	}
	.ministryHeaderIcon {
		font-size: 0.8em;
		margin-right: 10px;
	}
	.meetingsContentArrIcon {
		font-size: 0.9em;
		margin-right: 10px;
	}
	.ministryContentBoxContent {
		width: 100%;
		padding: 20px;
		font-size: 0.5em;
		text-align: center;
	}
	.ministryContentArrContent {
		width: 100%;
		height: fit-content;
		padding: 0 0 3px 8px;
		font-size: 0.45em;
	}
	.meetingscontentArr {
		padding: 0 5px 10px 0px;
	}

	@keyframes myAnim {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
}
