.meetingsContainer {
	width: 100%;
	height: fit-content;
	align-items: center;
	padding-top: 100px;
	box-sizing: border-box;
	background: url("../../utilities/meetingsSVG.svg");
}

.meetingsHeaderBox {
	width: 20em;
	height: 12.5em;
	padding: 0.6em;
	margin: 0 auto 1.875em auto;
	transition: 500ms;
	cursor: zoom-in;
	text-align: center;
	display: block;
}
.meetingsHeaderBox:hover {
	background-color: rgb(0, 0, 0, 0.08);
	transition: 500ms;
	border-radius: 50%;
	box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
}

.meetingsHeaderIcon {
	font-size: 5em;
	padding: 10px;
}
.meetingsH1 {
	font-size: 1.625em;
}
.meetingsH3 {
	font-size: 1em;
	font-weight: 500;
	padding-top: 3px;
}

.meetingsContentBox {
	width: 70vw;
	height: fit-content;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 1em;
}
.meetingsContentCard {
	width: 20em;
	height: 12.5em;
	margin: 0.625em;
	display: flex;
	flex-direction: column;
	transition: 500ms;
	cursor: zoom-in;
}
.meetingsContentCard:hover {
	background-color: #eee;
	transition: 500ms;
	border-radius: 10%;
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
}
.meetingCardHeader {
	width: 100%;
	height: 20%;
}
.meetingCardText {
	width: 100%;
	height: 20%;
}
.meetingCardHeaderH2 {
	text-align: center;
	font-size: 1.375em;
	font-weight: 500;
}
.meetingCardHeaderH4 {
	text-align: center;
	font-size: 1em;
	font-weight: 500;
}
.meetingsCardIcon {
	font-size: 3.125em;
	margin-bottom: 0.2em;
	margin-top: 0.6em;
}
@media screen and (max-width: 1500px) and (min-width: 1200px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}
	.meetingsHeaderBox {
		width: 18em;
		height: 12em;
		padding: 0.3em;
		margin: 0 auto 1.5em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsContentBox {
		width: 70vw;
		height: fit-content;

		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 2em;
	}
	.meetingsContentCard {
		width: 15em;
		height: 12em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 2.7em;
		margin-bottom: 0.2em;
		margin-top: 0.6em;
	}
	.meetingsHeaderIcon {
		font-size: 4.4em;
		padding: 10px;
	}
	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.25em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1100px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}

	.meetingsHeaderBox {
		width: 16em;
		height: 11em;
		padding: 0.3em;
		margin: 0 auto 1em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 4em;
		padding: 7px;
	}
	.meetingsH1 {
		font-size: 1.5em;
	}
	.meetingsH3 {
		font-size: 0.9em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		width: 63vw;
		height: fit-content;
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 2em;
	}
	.meetingsContentCard {
		width: 13em;
		height: 10em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 2.4em;
		margin-bottom: 0.2em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.1em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.7em;
		font-weight: 500;
	}
}

@media screen and (max-width: 1099px) and (min-width: 992px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3.7em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.35em;
	}
	.meetingsH3 {
		font-size: 0.85em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		width: 62vw;
		height: fit-content;

		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 12em;
		height: 9em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 2em;
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.6em;
		font-weight: 500;
	}
}

@media screen and (max-width: 991px) and (min-width: 858px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3.3em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.24em;
	}
	.meetingsH3 {
		font-size: 0.8em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		width: 61vw;
		height: fit-content;
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 13em;
		height: 8em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 1.75em;
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.7em;
		font-weight: 500;
	}
}

@media screen and (max-width: 857px) and (min-width: 680px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: #e3e3e1;
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.2em;
	}
	.meetingsH3 {
		font-size: 0.7em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		width: 80vw;
		height: fit-content;
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 15em;
		height: 10em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 1.7em;
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.2em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.8em;
		font-weight: 500;
	}
}
@media screen and (max-width: 700px) and (min-width: 500px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: #e3e3e1;
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.2em;
	}
	.meetingsH3 {
		font-size: 0.7em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		width: 80vw;
		height: fit-content;
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 12em;
		height: 8em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 1.6em;
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.7em;
		font-weight: 500;
	}
}
@media screen and (max-width: 580px) and (min-width: 400px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: #e3e3e1;
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.2em;
	}
	.meetingsH3 {
		font-size: 0.7em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		width: 90vw;
		height: fit-content;

		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 8.5em;
		height: 7em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 1.3em;
		margin-bottom: 0.3em;
		margin-top: 0.9em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 0.7em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.55em;
		font-weight: 500;
	}
}

@media screen and (max-width: 400px) and (min-width: 144px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: #e3e3e1;
	}

	.meetingsHeaderBox {
		width: 16em;
		height: 10em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3.4em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.4em;
	}
	.meetingsH3 {
		font-size: 0.9em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		min-width: 100%;
		height: 200px;
		display: flex;
		flex-direction: column;
		overflow-x: auto;
	}
	.meetingsContentCard:hover {
		background-color: #eee;
		transition: 500ms;
		border-radius: 1em;
		box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
		cursor: grab;
	}
	.meetingsContentBox::-webkit-scrollbar {
		display: none;
	}
	.meetingsContentCard {
		min-width: 14em;
		min-height: 9em;
		background-color: #eee;
		margin: 0.5em;

		transition: 500ms;
		cursor: zoom-in;
		border-radius: 1em;
	}
	.meetingsCardIcon {
		font-size: 2.3em;
		margin-bottom: 0.5em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.4em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
}
