.meetingsContainer {
	width: 100%;
	/* height: 780px; */
	height: fit-content;
	align-items: center;
	padding-top: 100px;
	box-sizing: border-box;
	background: url("../../utilities/meetingsSVG.svg");
}

.meetingsHeaderBox {
	/* width: 320px; */
	width: 20em;
	/* height: 200px; */
	height: 12.5em;
	/* padding: 10px; */
	padding: 0.6em;
	/* margin: 0 auto 30px auto; */
	margin: 0 auto 1.875em auto;
	transition: 500ms;
	cursor: zoom-in;
	/* background-color: green; */
	text-align: center;
	display: block;
}
.meetingsHeaderBox:hover {
	background-color: rgb(0, 0, 0, 0.08);
	transition: 500ms;
	border-radius: 50%;
	box-shadow: 5px 5px 10px 1px #000;
}

.meetingsHeaderIcon {
	font-size: 5em;
	padding: 10px;
}
.meetingsH1 {
	font-size: 1.625em;
}
.meetingsH3 {
	font-size: 1em;
	font-weight: 500;
	padding-top: 3px;
}

.meetingsContentBox {
	width: 70vw;
	/* height: 450px; */

	height: fit-content;

	/* background-color: rgb(168, 127, 72, 0.3); */
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 1em;
}
.meetingsContentCard {
	width: 20em;
	height: 12.5em;
	/* background-color: rgb(214, 128, 128, 0.5); */
	margin: 0.625em;
	display: flex;
	flex-direction: column;
	transition: 500ms;
	cursor: zoom-in;
}
.meetingsContentCard:hover {
	background-color: #eee;
	transition: 500ms;
	border-radius: 10%;
	box-shadow: 5px 5px 10px 1px #000;
}
.meetingCardHeader {
	width: 100%;
	height: 20%;
	/* background-color: rgb(138, 43, 226, 0.3); */
}
.meetingCardText {
	width: 100%;
	height: 20%;
	/* background-color: rgba(43, 226, 156, 0.3); */
}
.meetingCardHeaderH2 {
	text-align: center;
	font-size: 1.375em;
	font-weight: 500;
}
.meetingCardHeaderH4 {
	text-align: center;
	font-size: 1em;
	font-weight: 500;
}
.meetingsCardIcon {
	font-size: 3.125em;
	/* background-color: darkkhaki; */
	margin-bottom: 0.2em;
	margin-top: 0.6em;
}
@media screen and (max-width: 1500px) and (min-width: 1200px) {
	.meetingsContainer {
		width: 100%;
		/* height: 780px; */
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}
	.meetingsHeaderBox {
		width: 18em;
		height: 12em;
		padding: 0.3em;
		margin: 0 auto 1.5em auto;
		transition: 500ms;
		cursor: zoom-in;
		text-align: center;
		display: block;
	}
	.meetingsContentBox {
		width: 70vw;
		height: fit-content;

		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 2em;
	}
	.meetingsContentCard {
		width: 15em;
		height: 12em;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 2.7em;
		margin-bottom: 0.2em;
		margin-top: 0.6em;
	}
	.meetingsHeaderIcon {
		font-size: 4.4em;
		padding: 10px;
	}
	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.25em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1100px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}

	.meetingsHeaderBox {
		width: 16em;
		height: 11em;
		padding: 0.3em;
		margin: 0 auto 1em auto;
		transition: 500ms;
		cursor: zoom-in;
		/* background-color: lightgreen; */
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 4em;
		padding: 7px;
	}
	.meetingsH1 {
		font-size: 1.5em;
	}
	.meetingsH3 {
		font-size: 0.9em;
		font-weight: 500;
		padding-top: 3px;
		/* background-color: rgb(168, 127, 72, 0.3); */
	}
	.meetingsContentBox {
		width: 63vw;
		height: fit-content;

		/* background-color: rgb(168, 127, 72, 0.3); */
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 2em;
	}
	.meetingsContentCard {
		width: 10em;
		height: 9em;
		/* background-color: rgb(214, 128, 128, 0.5); */
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 2.4em;
		/* background-color: darkkhaki; */
		margin-bottom: 0.2em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.2em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.7em;
		font-weight: 500;
	}
}

@media screen and (max-width: 1099px) and (min-width: 992px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		/* background-color: lightgreen; */
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3.7em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.35em;
	}
	.meetingsH3 {
		font-size: 0.85em;
		font-weight: 500;
		padding-top: 3px;
		/* background-color: rgb(168, 127, 72, 0.3); */
	}
	.meetingsContentBox {
		width: 61vw;
		height: fit-content;

		/* background-color: rgb(168, 127, 72, 0.3); */
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 9em;
		height: 8em;
		/* background-color: rgb(214, 128, 128, 0.5); */
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 2em;
		/* background-color: darkkhaki; */
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.1em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.6em;
		font-weight: 500;
	}
}

@media screen and (max-width: 991px) and (min-width: 858px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: url("../../utilities/meetingsSVG.svg");
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		/* background-color: lightgreen; */
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3.3em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.24em;
	}
	.meetingsH3 {
		font-size: 0.8em;
		font-weight: 500;
		padding-top: 3px;
		/* background-color: rgb(168, 127, 72, 0.3); */
	}
	.meetingsContentBox {
		width: 61vw;
		height: fit-content;

		/* background-color: rgb(168, 127, 72, 0.3); */
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 13em;
		height: 8em;
		/* background-color: rgb(214, 128, 128, 0.5); */
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 1.75em;
		/* background-color: darkkhaki; */
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.24em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.87em;
		font-weight: 500;
	}
}

@media screen and (max-width: 857px) and (min-width: 680px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: #e3e3e1;
	}

	.meetingsHeaderBox {
		width: 13em;
		height: 9em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		/* background-color: lightgreen; */
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 3em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.2em;
	}
	.meetingsH3 {
		font-size: 0.7em;
		font-weight: 500;
		padding-top: 3px;
		/* background-color: rgb(168, 127, 72, 0.3); */
	}
	.meetingsContentBox {
		width: 80vw;
		height: fit-content;

		/* background-color: rgb(168, 127, 72, 0.3); */
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 1.5em;
	}
	.meetingsContentCard {
		width: 13em;
		height: 8em;
		/* background-color: rgb(214, 128, 128, 0.5); */
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		transition: 500ms;
		cursor: zoom-in;
	}
	.meetingsCardIcon {
		font-size: 1.7em;
		/* background-color: darkkhaki; */
		margin-bottom: 0.25em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.2em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.8em;
		font-weight: 500;
	}
}

@media screen and (max-width: 679px) and (min-width: 144px) {
	.meetingsContainer {
		width: 100%;
		height: fit-content;
		align-items: center;
		padding-top: 50px;
		box-sizing: border-box;
		background: #e3e3e1;
	}

	.meetingsHeaderBox {
		width: 18em;
		height: 10em;
		padding: 0.2em;
		margin: 0 auto 0.8em auto;
		transition: 500ms;
		cursor: zoom-in;
		/* background-color: lightgreen; */
		text-align: center;
		display: block;
	}
	.meetingsHeaderIcon {
		font-size: 4em;
		padding: 5px;
	}
	.meetingsH1 {
		font-size: 1.7em;
	}
	.meetingsH3 {
		font-size: 0.9em;
		font-weight: 500;
		padding-top: 3px;
	}
	.meetingsContentBox {
		min-width: 100%;
		/* min-height: 300px;
		max-height: 300px; */
		height: 200px;
		/* background-color: rgb(168, 127, 72, 0.3); */
		display: flex;
		flex-direction: column;
		overflow-x: auto;
	}
	.meetingsContentCard:hover {
		background-color: #eee;
		transition: 500ms;
		border-radius: 1em;
		box-shadow: 3px 3px 6px 1px #000;
		cursor: grab;
	}
	.meetingsContentBox::-webkit-scrollbar {
		display: none;
	}
	.meetingsContentCard {
		min-width: 14em;
		min-height: 9em;
		/* background-color: rgb(214, 128, 128, 0.5); */
		background-color: #eee;
		margin: 0.5em;
		/* display: flex; */
		/* flex-direction: column; */
		transition: 500ms;
		cursor: zoom-in;
		border-radius: 1em;
	}
	.meetingsCardIcon {
		font-size: 2.3em;
		/* background-color: darkkhaki; */
		margin-bottom: 0.5em;
		margin-top: 0.6em;
	}

	.meetingCardHeaderH2 {
		text-align: center;
		font-size: 1.4em;
		font-weight: 500;
	}
	.meetingCardHeaderH4 {
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
}
