@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Titillium+Web:wght@300;400;700&display=swap");

:root {
	--mainColor: #14213d;
	--mainColorLight: #5767aa;
	--secondaryColor: #fca311;
	--textColor: #eee;
}
.footer_container {
	width: 100vw;
	height: 250px;
	background-color: var(--mainColor);
	padding: 0 5vw;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	display: flex;
	justify-content: space-between;
}
.footer_reachOut {
	width: 600px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-family: "Titillium Web", sans-serif;
}
.footer_reachOut h2 {
	color: var(--secondaryColor);
	font-size: 70px;
}
.footer_reachOut p {
	color: var(--textColor);
	font-size: 50px;
}

.footer_contactInfo {
	width: 600px;
	height: 100%;
	display: flex;
	align-items: center;
}
.footer_contactInfo ul {
	list-style: none;
}
.list_item {
	padding: 5px;
	display: flex;
	align-items: center;
}
.icon_wrapper {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.icon_wrapper img {
	width: 100%;
	height: 100%;
}

.list_item a {
	color: var(--textColor);
	text-decoration: none;
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
}
@media (max-width: 1130px) {
	.footer_reachOut {
		width: 500px;
	}
	.footer_reachOut h2 {
		font-size: 65px;
	}
	.footer_reachOut p {
		font-size: 45px;
	}
	.footer_contactInfo {
		width: 500px;
	}
	.icon_wrapper {
		width: 48px;
		height: 48px;
		margin-right: 8px;
	}
	.list_item {
		padding: 4px;
	}
	.list_item a {
		font-size: 16px;
	}
}
@media (max-width: 1000px) {
	.footer_reachOut {
		width: 400px;
	}
	.footer_reachOut h2 {
		font-size: 60px;
	}
	.footer_reachOut p {
		font-size: 40px;
	}
	.footer_contactInfo {
		width: 400px;
	}
	.icon_wrapper {
		width: 45px;
		height: 45px;
		margin-right: 5px;
	}
	.list_item {
		padding: 4px 0;
	}
	.list_item a {
		font-size: 15px;
	}
}
@media (max-width: 900px) {
	.footer_container {
		width: 100vw;
		height: 300px;
		align-items: center;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.footer_reachOut {
		width: 480px;
		align-items: center;
	}
	.footer_reachOut h2 {
		font-size: 60px;
	}
	.footer_reachOut p {
		font-size: 40px;
		letter-spacing: 1px;
	}
	.footer_contactInfo {
		width: 480px;
		flex-direction: column;
		align-items: center;
	}
	.icon_wrapper {
		width: 42px;
		height: 42px;
		margin-right: 5px;
	}
	.list_item {
		padding: 4px 0;
	}
	.list_item a {
		font-size: 14px;
	}
}
@media (max-width: 500px) {
	.footer_reachOut {
		width: 350px;
	}
	.footer_reachOut h2 {
		font-size: 45px;
	}
	.footer_reachOut p {
		font-size: 30px;
		letter-spacing: 0;
	}
	.footer_contactInfo {
		width: 350px;
	}
	.icon_wrapper {
		width: 42px;
		height: 42px;
		margin-right: 5px;
	}
	.list_item {
		padding: 4px 0;
	}
	.list_item a {
		font-size: 13px;
	}
}
@media (max-width: 360px) {
	.footer_reachOut {
		width: 300px;
	}
	.footer_reachOut h2 {
		font-size: 40px;
	}
	.footer_reachOut p {
		font-size: 26px;
		letter-spacing: 0;
	}
	.footer_contactInfo {
		width: 300px;
	}
	.icon_wrapper {
		width: 38px;
		height: 38px;
		margin-right: 5px;
	}
	.list_item {
		padding: 4px 0;
	}
	.list_item a {
		font-size: 11px;
	}
}
